<section>
    <h2 class="text-4xl font-mono pb-10 pl-30 pt-20 
">Anmeldelser af bogen</h2>
    <div class="space-y-6 p-10 font-mono text-lg bg-gray-100 rounded-lg">
        <div class="border-b pb-4">
            <p class="text-rose-500 text-xl">★★★★★☆</p>
            <p class="mt-2">Københavnerbilleder er en grundig introduktion til at skyde billeder med retro-kant. Hvad enten du har arbejdet med foto siden 135-filmen kom på markedet, du kun har skudt digitalt eller er helt nybegynder, er der masser af tips og tricks i bogen.</p>
            <p class="mt-2 font-bold">Hanne Hovgaard, Berlingeren</p>
        </div>
        <div class="border-b pb-4">
            <p class="text-rose-500 text-xl">★★★★☆</p>
            <p class="mt-2">Teksten er underholdende, og billederne er sku’ flotte. Hvad mere skal man sige om en fotobog?</p>
            <p class="mt-2 font-bold">Kim Kloggaard, Fotojournalen.dk</p>
        </div>
        <div>
            <p class="text-rose-500 text-xl">★★★★★★</p>
            <p class="mt-2">Sten Simons kan det der - og han bliver bedre og bedre. Stens tredje fotobog er klart den bedste - her er han for alvor i sit rette element, meget bedre end “studiefotografering som begyndere.” Tillykke - godt arbejde.</p>
            <p class="mt-2 font-bold">Volmer Hansen, Lukkertiden.dk</p>
        </div>
    </div>
</section>
