<section>
    <div class="grid md:grid-cols-4 p-10 gap-5">
        <img src="/public/img/billedegalleri1.jpg" alt="billede" class="border-4 border-rose-950 hover:scale-130">
        <img src="/public/img/billedegalleri2.jpg" alt="billede" class="border-4 border-rose-950 hover:scale-130">
        <img src="/public/img/billedegalleri3.jpg" alt="billede" class="border-4 border-rose-950 hover:scale-130">
        <img src="/public/img/billedegalleri1.jpg" alt="billede" class="border-4 border-rose-950 hover:scale-130">
        <img src="/public/img/billedegalleri2.jpg" alt="billede" class="border-4 border-rose-950 hover:scale-130">
        <img src="/public/img/billedegalleri3.jpg" alt="billede" class="border-4 border-rose-950 hover:scale-130">
        <img src="/public/img/billedegalleri1.jpg" alt="billede" class="border-4 border-rose-950 hover:scale-130">
        <img src="/public/img/billedegalleri2.jpg" alt="billede" class="border-4 border-rose-950 hover:scale-130">
        <img src="/public/img/billedegalleri3.jpg" alt="billede" class="border-4 border-rose-950 hover:scale-130">
        <img src="/public/img/billedegalleri1.jpg" alt="billede" class="border-4 border-rose-950 hover:scale-130">
        <img src="/public/img/billedegalleri2.jpg" alt="billede" class="border-4 border-rose-950 hover:scale-130">
        <img src="/public/img/billedegalleri3.jpg" alt="billede" class="border-4 border-rose-950 hover:scale-130">
    </div>
</section>
