<section class=" grid md:grid-cols-3">
<img class="pt-20" src="/public/img/billede1.jpg" alt="1">
<img class="hover:animate-spin" src="/public/img/billede2.jpeg" alt="1">
<img class="pt-60" src="/public/img/billede3.jpeg" alt="1">
</section>