<section class=" grid md:grid-cols-2">

    <div class="font-mono pl-10">
        <h2 class="text-4xl pt-5 ">Kort om bogen</h2>
        <p>Københavnerbilleder er de danske streetfotografers bibel: Det er en fusion mellem et kunstværk og en lærebog. Bogen gennemgår alle væsentlige aspekter af streetfotografering fra grundlæggende teknik til kreative eksperimenter. Alt sammen krydret med masser af inspirerende fotos. God læselyst!	 </p>
    </div>

    <div>
        <ul class="list-none font-mono text-lg p-30">
            <li><strong>Titel:</strong> Københavnerbilleder - en guide til hipster foto</li>
            <li><strong>Forfatter:</strong> Sten Simons</li>
            <li><strong>Antal sider:</strong> 344</li>
            <li><strong>Forlag:</strong> Mellem Linjerne</li>
            <li><strong>ISBN:</strong> 987-6-987654-32-1</li>
            <li><strong>Pris:</strong> 399.-</li>
        </ul>
    </div>
</section>