<footer class="bg-gray-100 text-black p-6 text-center font-mono text-lg mt-10">
    <div class="flex flex-col md:flex-row items-center justify-center space-y-4 md:space-y-0 md:space-x-4">
        <p class="flex items-center space-x-2">
            <span>Lavet med masser af hårdt arbejde af Sten Simons</span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-rose-500">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6l4 2" />
            </svg>
        </p>
        <p>Copyright &copy; 2025 Sten Simons & Forlaget Mellem Linjerne</p>
    </div>
</footer>
