<section class="grid md:grid-cols-2 gap-2 p-6 font-mono text-lg items-center">
    <div class="text-center">
        <h1 class="text-4xl font-mono pb-10 pl-5 pt-10">Forfatteren</h1>
        <img src="/public/img/forfatter.png" alt="Forfatter Sten Simons" class="w-100 mx-auto border-4 border-rose-950 rounded-lg shadow-lg">
    </div>
    <p class=" border-l-4 border-rose-950 text-black">
        Sten Simons har en lang foto-karriere bag sig. Det hele startede i 00’erne, da han gik rundt i Pisserenden for at fotografere ungdommens forfald. Det ledte til en række udstillinger og blev senere til hans første fotobog <em>“Ungdomsdruk - pinlige billeder fra nattelivet.”</em>
        <br><br>
        Derefter tog karrieren fart: Han blev fotojournalist og dokumenterede en masse dagligdagsstof fra Amager på dagbladet <em>“Amagerkaneren.”</em> Sideløbende begyndte han at undervise i foto og har skrevet et utal af bøger, herunder bestsellerne <em>Scener fra S-toget</em>, <em>Brun mad - en visuel odysse</em>, og lærebogen <em>Fotografering for evnesvage.</em>
    </p>
</section>
